@import "@radix-ui/themes/styles.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

.fancy-border {
  transition-property: box-shadow, border-color;
  transition-duration: 0.25s;
  transition-timing-function: ease-out;
}

.fancy-border:hover {
  box-shadow: 0 2px 0 rgba(54, 45, 89, 0.15), -0.1875rem -0.1875rem 0 0.1875rem
    #f2b712, 0 0 0 0.375rem #e1567c;
  text-decoration: none;
  cursor: pointer;
}

.hero-top-left-down-slope {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 40%);
}

.hero-bottom-left-down-slope {
  clip-path: polygon(0 0, 100% 100%, 100% 100%, 0 100%);
}

.footer-top-right-down-slope {
  clip-path: polygon(0 0, 100% 0, 100% 40%, 0 100%);
}

body {
  margin: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.sr-only {
  position: absolute;
  display: block;
  cursor: text;
  margin: -1px 0 0 -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  font-weight: normal;
  font-size: 15px;
  line-height: 1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  outline: 0;
}
